body
{
    /*background-color: #E9B85E;*/
    background-image: url("dune_du_pilat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin : auto;
    width: 100%;
}

/*en-tête*/
#en-tete
{
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}
#logo
{
    max-width: 15%;
    height: auto;
    margin-right: 15%
}
#slogan
{
    max-width: 25%;
    align-self: center;
    

}
nav
{
    width: 30%;  
    align-self: flex-start;
    font-size: 120%;
    text-align: right;

}
nav li{

    list-style-type: none;
    position: relative;
    float: right;
}
nav li:after{
    content:"";
    display: table;
    clear: both;

}
.my_profil{
    background-color: #C6BEAB;
    text-decoration: none;
    color: indigo; 
}

.my_profil > ul:hover{
    color:green;
}

.DropDown{/*sous menu caché*/
    display: none;
    z-index: 1000;
}
nav > li:hover .DropDown /*le sous-menu apparait*/
{ 
    display: block;
 }

.DropDown li{
    float: none;
    width: 100%;
}
.DropDown a{
    padding: 10px
    border-bottom: none;
}
ul{
  background-color: #C6BEAB;
}




/*contenu*/
a
{
    outline: initial;
    text-decoration: none;
    color:indigo;
}

a.button
{
    outline: initial;
    text-decoration: none;
    color:indigo;
    display: inline-block;
    text-align: center;
    margin: auto;
}
a.button:hover
{/*modifie la couleur du texte des hyperliens quand la souris est dessus*/
    color:green;
}


section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


/*a.mybutton {
 display: inline-block;
 width: 200px;
 height: 50px;
 line-height: 50px;
 vertical-align: middle;
 text-align: center;
 font-family: Arial,sans-serif;
 font-size: medium; 
 color: white;
 text-decoration: none;
 font-weight: bold;
 background: blue;
}
a.mybutton:hover { background: red; color: black; }*/

h1 
{
    font-size: 40px; /* titre gigantesque */
    font-family: Verdana,serif; /*police de caractère*/
    color: indigo;
    font-weight: bold;
    text-align: center;
}
p
{
    font-weight: bold;
    text-align: justify;/*étire le texte*/
    color : black;
    /*opacity: 0.6;*/
}

div.description {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

p.blocktext
{
    /*margin-left: auto;
    margin-right: auto;
    width: 50.6em;*/
    margin: 3%;
    font-weight: bold;
    color: #000000;
}
.imageflottante
{
    float: center;
}
.searchbar{
    position:center;
    width:70%;
    height:auto;
    margin-left: 20%;
    margin-right: auto;
    margin-bottom: 1em;

}
.searchbar .text{
    width:30em;
    float:left;    
}
.searchbar .champ{
    width:80%;
    height:35px;
    float:left;
    border: 0.125rem solid #FFF;
    border-bottom-left-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    outline-style:none;
}
.searchbar .bouton{
    background-image: url(loupe.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 3.1em;
    height: 3.05em;
    padding: 0;
    border: none;
    border-bottom-right-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    outline-style:none;
}

.fullbar
{
    position:center;
    width:50%;
    height:auto;
    margin-left: 25%;
    margin-right: auto;
}

#centerall
{
    
    text-align: center;
    margin: auto;

}

.fullbar .text{
    width:30%;
    float:left;    
}
.fullbar .champ{
    width:100%;
    height:35px;
    float:left;
    border: 0.125rem solid #FFF;
    border-radius: 0.4rem;
    outline-style:none;
    margin-right: 1%;
    margin-bottom: 1%;
}
.demibar{
    position:center;
    width:49%;
    height:auto;
}
.demibar .text{
    width:30%;
    float:left;    
}
.demibar .champ{
    width:100%;
    height:35px;
    float:left;
    border: 0.125rem solid #FFF;
    border-radius: 0.4rem;
    outline-style:none;
    margin-right: 1.5%;
    margin-bottom: 2%;

}

.twobars{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.twobars  .demibar{
    position:center;
    width:47.5%;
    height:auto;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  cursor:pointer;
}

#distance{
    margin-top: 5%;
    width: 50%;
}
#price{
    margin-top: 5%;
    width: 50%;
}

label{
    font-weight: bold;
    position: center;
}

datalist {
    width: 50%;
    display: flex;
    color: white;
    justify-content: space-between;
}


datalist option {
    -webkit-box-flex: 1;
    flex-grow: 1.4;


}
#cases
{
    display: flex;
    justify-content: space-around;
}
#preferences_choice{


}



/* Slider JS ci Dessous */

.containersliderjs 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-minmax
{
  margin-top: 30px;
  width: 608px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #383838;
}
.range-slider 
{
    margin-top: 4vh;   
}
.rs-range 
{
    margin-top: 5px;
    width: 600px;
}
.rs-label 
{
    position: relative;
    transform-origin: center center;
    display: block;
    width: 55px;
    height: 55px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 3px;
    box-sizing: border-box;
    border: 2px solid #383838;
    margin-top: 0px;
    margin-left: -18.5px;
    left: attr(value);
    color: #383838;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 36px;
}

.containersliderjsbis 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-minmaxbis
{
  margin-top: 30px;
  width: 608px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #383838;
}
.range-sliderbis 
{
    margin-top: 4vh;   
}
.rs-rangebis 
{
    margin-top: 5px;
    width: 600px;
}
.rs-labelbis 
{
    position: relative;
    transform-origin: center center;
    display: block;
    width: 55px;
    height: 55px;
    background: transparent;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    box-sizing: border-box;
    border: 2px solid #383838;
    margin-top: 0px;
    margin-left: -18.5px;
    left: attr(value);
    color: #383838;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;
}


/* Fin Slider JS */
div.fondtrsp
{
background-color:rgba(255,255,255,0.2);
color: black;
}

iframe {
    border: 1px solid black;
    width: 80%;
}

.output {
    background: #eee;
}

table
{
    border-collapse: collapse; 
    margin:auto;
}

td, th
{
    border: 1px solid black;
    background-color: rgba(255,255,255,0.6);
}

tbody tr:nth-child(odd) {
  background-color: orange;
}

.lieu{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#flexbox1{
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#flexbox2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#flexbox3{
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

#flexbox3 .photo img{
    width: 100%;
}

#flexbox3 img{
    width: 20%;
    align-self: flex-end;
}

h2{
    position: center;
    color: orange;
}

#weathers{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.temperature{
    color: white;
}

.weather img{
    width: 50%;
    height: auto;
    align-self: center;
}

