{% load static %}
{% block header %}
    <header>
        <div id="en-tete">
            <div id="logo">
                <img src="{% static "v1/images/tripsy_logo.png" %}"
                     style="width: 120px;"
                     alt="Logo de Tripsy"
                     class="imageflottante"/>
            </div>
            <div id="slogan">
                <h1>Voyagez EASY</h1>
            </div>

            <div id="pageConnexion"><a href="#">Connexion
            </a></div>
        </div>

        <nav>

        </nav>
    </header>
{% endblock %}
