{% extends "v1/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        <div>Bienvenue {{ user. }}</div>
    {% endif %}
    <section>
        <p class="blocktext">Que recherchez-vous ?</p>
        <div id="searchbar">
            <form action="">
                <input class="champ" type="text" placeholder="Chateau de Fontainebleau, Nîme ..."/>
                <input class="bouton" type="button" value="Rechercher"/>
            </form>
        </div>
        <div id="pageRechercheAvancee"><a href="{% url "recherche" %}">Recherche avancée
        </a></div>


        <article>
            <div class="blocktextdiv">
                <p class="blocktext">Bonjour et bienvenue sur le site Tripsy, l'endroit où vous pourrez rechercher
                    simplement le lieu de votre prochain séjour, en famille ou entre amis.
                    Notre site vous met a disposition un outil intuitif de recherche qui vous permettra selon vos
                    critères de trouver le lieux pour votre prochaine escapade !
                </p>
            </div>
        </article>
        <aside>

        </aside>
    </section>

    <footer>

    </footer>

{% endblock %}
