{% extends "v1/base.html" %}
{% block content %}
    <section>

        <p class="blocktext">Mes préférences :</p>
        <form action="">

            <div id="centerall">
                <select name="préférences" class="preferences">
                    <option value="">--centre d'intérêt 1--</option>
                    <option value="pets allowed">Animaux autorisés</option>
                    <option value="Lieu culturel">Lieu culturel</option>
                    <option value="Hotel">Hotel</option>
                    <option value="Holliday center">Centre de vacances</option>
                    <option value="Camping">Camping</option>
                    <option value="Youth hostel">Auberge de Jeunesse</option>
                    <option value="Free wifi">Wifi gratuit</option>
                    <option value="Kids allowed">Enfants autorisés</option>
                    <option value="Disabled access">Accès handicapé</option>
                    <option value="Park">parc</option>
                    <option value="Museum">Musée</option>
                    <option value="Beach">Plage</option>
                    <option value="Cinema">Cinéma</option>
                    <option value="Theatre">Thêatre</option>
                    <option value="Moutain">Montagne</option>
                    <option value="Hiking">Randonnée</option>
                    <option value="Restaurant">Restaurant</option>
                    <option value="Shop">Magasins</option>
                </select>
                <select name="préférences" class="preferences">
                    <option value="">--centre d'intérêt 2--</option>
                    <option value="pets allowed">Animaux autorisés</option>
                    <option value="Lieu culturel">Lieu culturel</option>
                    <option value="Hotel">Hotel</option>
                    <option value="Holliday center">Centre de vacances</option>
                    <option value="Camping">Camping</option>
                    <option value="Youth hostel">Auberge de Jeunesse</option>
                    <option value="Free wifi">Wifi gratuit</option>
                    <option value="Kids allowed">Enfants autorisés</option>
                    <option value="Disabled access">Accès handicapé</option>
                    <option value="Park">parc</option>
                    <option value="Museum">Musée</option>
                    <option value="Beach">Plage</option>
                    <option value="Cinema">Cinéma</option>
                    <option value="Theatre">Thêatre</option>
                    <option value="Moutain">Montagne</option>
                    <option value="Hiking">Randonnée</option>
                    <option value="Restaurant">Restaurant</option>
                    <option value="Shop">Magasins</option>
                </select>
                <select name="préférences" class="preferences">
                    <option value="">--centre d'intérêt 3--</option>
                    <option value="pets allowed">Animaux autorisés</option>
                    <option value="Lieu culturel">Lieu culturel</option>
                    <option value="Hotel">Hotel</option>
                    <option value="Holliday center">Centre de vacances</option>
                    <option value="Camping">Camping</option>
                    <option value="Youth hostel">Auberge de Jeunesse</option>
                    <option value="Free wifi">Wifi gratuit</option>
                    <option value="Kids allowed">Enfants autorisés</option>
                    <option value="Disabled access">Accès handicapé</option>
                    <option value="Park">parc</option>
                    <option value="Museum">Musée</option>
                    <option value="Beach">Plage</option>
                    <option value="Cinema">Cinéma</option>
                    <option value="Theatre">Thêatre</option>
                    <option value="Moutain">Montagne</option>
                    <option value="Hiking">Randonnée</option>
                    <option value="Restaurant">Restaurant</option>
                    <option value="Shop">Magasins</option>
                </select>
                <select name="préférences" class="preferences">
                    <option value="">--centre d'intérêt 4--</option>
                    <option value="pets allowed">Animaux autorisés</option>
                    <option value="Lieu culturel">Lieu culturel</option>
                    <option value="Hotel">Hotel</option>
                    <option value="Holliday center">Centre de vacances</option>
                    <option value="Camping">Camping</option>
                    <option value="Youth hostel">Auberge de Jeunesse</option>
                    <option value="Free wifi">Wifi gratuit</option>
                    <option value="Kids allowed">Enfants autorisés</option>
                    <option value="Disabled access">Accès handicapé</option>
                    <option value="Park">parc</option>
                    <option value="Museum">Musée</option>
                    <option value="Beach">Plage</option>
                    <option value="Cinema">Cinéma</option>
                    <option value="Theatre">Thêatre</option>
                    <option value="Moutain">Montagne</option>
                    <option value="Hiking">Randonnée</option>
                    <option value="Restaurant">Restaurant</option>
                    <option value="Shop">Magasins</option>
                </select>


                <input class="bouton" type="button"
                       value="Envoyer">

            </div>
        </form>
    </section>

    <section>
        <p class="blocktext">Connexion à Tripsy</p>
        <form action="{% url "profil" %}" method="post">
            {% csrf_token %}
            <div class="fullbar">
                {{ formProfile.nicknameField }}

            </div>
            <div class="fullbar">
                {{ formProfile.oldPasswordField }}
            </div>
            <div class="twobars">
                <div class="demibar">
                    {{ formProfile.newPasswordField }}
                </div>

                <div class="demibar">
                    {{ formProfile.confirmNewPasswordField }}
                </div>
            </div>
            <div class="demibar">

                <div id="centerall">
                    <input class="bouton" type="submit" value="Valider les modifications">
                </div>

            </div>
        </form>
    </section>
{% endblock %}